@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-background)
}


@theme {
    /* fonts */
    --font-bebas-neue: "Bebas Neue";
    --font-cursive: "Ephesis";
    --font-inter: "Inter", sans-serif;

    /* colors */
    --color-text: #090a07,
    --color-background: #F7F7F7,
    --color-primary: #FFA400,
    --color-secondary: #00A896,
    --color-accent: #95b1b4,
}
 
.active {
    @apply text-green-400 underline underline-offset-4
  }
  
  .active-button {
    color: gray;
  }
  